<% include ../partials/header %>

<div class="alert alert-success">
    <strong>Note:</strong>
    Your body waist to hip ratio is: 
    <strong><%= ratio %></strong>
</div>
<div class="alert alert-success">
    <strong>Note:</strong>
    Your waist to hip ratio category is: 
    <strong><%= cat %></strong>
</div>


<% include ../partials/footer %>